// Specific CSS for your home-page
.display-home {
  align-items: center;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

/*.carousel-inner {
  align-items: center;
  justify-content: center;
  display: flex;
}*/
