<div class="dashboard">
  <section style="background-color: #eee;">
    <div class="container py-5">
      <%= render "pages/shared/dashboard_profile" %>
      <%= render "pages/shared/renter_container" %>
      <%= render "pages/shared/owner_container" %>
    </div>
  </section>
</div>
